{% extends 'base.html' %}

{% block content %}
	<div class ="container">
		<div class ="panel panel-primary">
			<div class ="panel-heading">View Details </div>
			<div class ="panel-body">
				<div class="form-group">
					<label for ="reg_no">Enter Roll No. : </label>
					<input type ="text" class = "form-control" id = "reg-no">
				</div>

				<div class = "button">
					<input type = "submit" class= "btn btn-success" value="Register">
				</div>
			</div>
		</div>
	</div>
{% endblock %}



